@using EPiServer.Web.Mvc.Html

@model AlloyTraining.Models.Pages.TypesPage

<div>
  @Html.PropertyFor(m => m.MultiplePages)
</div>
<div>
    @Html.PropertyFor(m => m.MultiplePagesList)
</div>